@media (max-width: 1200px) {
    #cube {
        .cube__inner {
            padding: 11px 0px 160px 0px;
            background-size: 530px;

            .cube__inform {
                margin-top: 0px;

                .cube__title {
                    font-size: 40px;
                }
            }
        }
    }

    #services {
        .services__inner {
            background-size: 660px auto;
            background-position: left 96px top 17px;
            padding: 96px 0px 0px 0px;
        }

        .services__cards {
            grid-template-rows: 144px 308px;

            .plan {
                img {
                    margin-bottom: 32px;
                }
            }

            .search {
                img {
                    margin-bottom: 23px;
                }
            }

            .rocket {
                img {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media (max-width: 993px) {
    #cube {
        margin-top: 93px;
        background-position: left 25vw bottom -100px;
        background-size: 606px 202px;

        .cube__inner {
            background-size: 350px;
            padding: 11px 0px 90px 0px;

            .cube__inform {
                margin-top: -20px;

                .cube__title {
                    font-size: 28px;
                    line-height: 34px;
                }

                .cube__subtitle {
                    font-size: 18px;
                    line-height: 22px;
                }

                .cube__text {
                    width: auto;
                    margin: 5px auto 23px auto;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }

    #services {
        .services__inner {
            background-size: 500px auto;
            background-position: left 96px top 55px;
            padding: 96px 0px 0px 0px;
        }

        .services__cards {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 249px 249px;
            justify-content: space-between;
            align-items: center;

            .plan {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;

                img {
                    margin-bottom: 26px;
                }
            }

            .lamp {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;

                .services__inform {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                img {
                    margin-bottom: 26px;
                }
            }

            .search {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;

                img {
                    margin-bottom: 23px;
                }
            }

            .rocket {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;

                img {
                    margin-bottom: 26px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #cube {
        margin-top: 45px;
        margin-top: 93px;
        background-position: left 25vw bottom -130px;
        background-size: 606px 202px;

        .cube__inner {
            background: none;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            padding: 11px 0px 110px 0px;

            .cube__inform {
                padding: 0px;
                margin-top: 32px;
                background: none;
                .cube__subtitle {
                    font-size: 18px;
                    line-height: 22px;
                }

                .cube__text {
                    width: auto;
                    margin: 5px auto 14px auto;
                }
            }

            .cube__img {
                width: 250px;
                height: auto;
            }
        }
    }

    .articles {
        .articles__cards {
            .articles__item {
                .article-text {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }

    #services {
        .services__cards {
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            justify-content: space-between;
            align-items: center;

            .plan {
                padding: 53px 0px 50px 0px;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;

                img {
                    margin-bottom: 26px;
                }
            }

            .lamp {
                padding: 53px 0px 50px 0px;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;

                .services__inform {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                img {
                    margin-bottom: 26px;
                }
            }

            .search {
                padding: 53px 0px 50px 0px;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 3;
                grid-row-end: 3;

                img {
                    margin-bottom: 23px;
                }
            }

            .rocket {
                padding: 53px 0px 50px 0px;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 4;
                grid-row-end: 4;

                img {
                    margin-bottom: 26px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #cube {
        margin-top: 35px;
        background: url('../../assets/img/icons/arrows.svg');
        background-repeat: no-repeat;
        background-position: left 50% bottom 0px;
        padding-bottom: 0px;

        .cube__inner {
            background: none;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            padding: 11px 0px 110px 0px;

            .cube__inform {
                .cube__text {
                    width: 300px;
                    margin: 16px auto 24px auto;
                }
                .cube__title {
                    font-size: 26px;
                    line-height: 34px;
                }
            }

            .cube__img {
                width: 231px;
            }
        }
    }
    .articles {
        margin-top: 57px;
        .articles__cards {
            .articles__item {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-right: 30px;
                .article-text {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }

    #services {
        .services__inner {
            padding: 0px 0px 0px 0px;
            margin-top: 50px;
            background: none;

            .services__title {
                background: none;
                text-align: center;
                padding: 0px;
            }
        }
    }
}