#cube {
    margin-top: 93px;
    background: url("../../assets/img/bg-line2.png");
    background-repeat: no-repeat;
    background-position: left calc(42% + 25px) bottom 0px;
    background-size: 45.4vw auto;

    .first-line {
        position: absolute;
        width: 45.4vw;
        height: auto;
        margin-left: 16vw;
    }

    .cube__inner {
        display: flex;
        justify-content: space-between;
        padding: 38px 0px 160px 0px;

        .cube__inform {
            padding: 82px 0px 0px 30px;
            background: url("../../assets/img/bg-polygons.png");
            background-repeat: no-repeat;

            .cube__title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                text-transform: uppercase;
                color: #282C37;
            }

            .cube__subtitle {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 30px;
                text-transform: uppercase;
                color: #282C37;
            }

            .cube__text {
                width: 34vw;
                margin-top: 23px;
                margin-bottom: 32px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #282C37;
            }
        }

        .cube__img {
            width: 39.8%;
            height: 39.8%;
        }
    }
}

.articles {
    .articles__card {
        margin: 0 auto;

        .articles__item {
            margin-top: 32px;
            margin-bottom: 41px;
            align-items: center;

            .article-logo {
                width: 35px;
                height: 38px;
            }

            .article-text {
                margin: 0px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #282C37;
                transition: 0.2s;
                text-decoration: none;

                &:hover {
                    color: #5391DC;
                    text-decoration: underline;
                }
            }
        }
    }
}

#services {
    .services__inner {
        background: url("../../assets/img/bg-line3.png");
        background-repeat: no-repeat;
        background-position: left 80px top 0px;
        padding: 96px 0px 0px 0px;

        .services__title {
            background: url("../../assets/img/Polygon\ 2.png");
            background-repeat: no-repeat;
            padding: 37px 0px 37px 56px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 30px;
            line-height: 37px;
            color: #282C37;
        }
    }

    .services__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 164px 328px;
        justify-content: space-between;
        align-items: center;
        grid-gap: 15px;
        margin-top: 46px;

        .plan {
            height: 100%;
            grid-column-start: 0;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;

            img {
                margin-bottom: 32px;
            }
        }

        .lamp {
            height: 100%;
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 1;
            .services__inform {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .search {
            height: 100%;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            img {
                margin-bottom: 30px;
            }
        }

        .rocket {
            height: 100%;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            background-color: bisque;

            img {
                margin-bottom: 32px;
            }
        }
        
        .services__item {
            display: flex;
            align-items: center;
            background-color: #6CA7EF;
            text-align: center;
            border-radius: 20px;
            height: 100%;
            transition: 0.2s;

            .services__inform {
                margin: 0 auto;
                p {
                    margin: 0px;
                    max-width: 495px;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }

            &:hover {
                background: #5391DC;
            }
        }
    }
}

@media (max-width: 1200px) {
    #cube {
        .cube__inner {
            .cube__inform {
                .cube__title {
                    font-size: 40px;
                }
            }
        }
    }

    #services {
        .services__cards {
            grid-template-rows: 144px 308px;

            .plan {
                img {
                    margin-bottom: 32px;
                }
            }

            .search {
                img {
                    margin-bottom: 23px;
                }
            }

            .rocket {
                img {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    #cube {
        .cube__inner {
            .cube__inform {
                .cube__title {
                    font-size: 28px;
                    line-height: 34px;
                }

                .cube__subtitle {
                    font-size: 18px;
                    line-height: 22px;
                }

                .cube__text {
                    width: 34vw;
                    margin-top: 5px;
                    margin-bottom: 32px;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }

    #services {
        .services__cards {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 249px 249px;
            justify-content: space-between;
            align-items: center;

            .plan {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
                img {
                    margin-bottom: 26px;
                }
            }

            .lamp {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
                .services__inform {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                img {
                    margin-bottom: 26px;
                }
            }

            .search {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
                img {
                    margin-bottom: 23px;
                }
            }

            .rocket {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
                img {
                    margin-bottom: 26px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #cube {
        .cube__inner {
            .cube__inform {
                .cube__title {
                    font-size: 28px;
                }

                .cube__subtitle {
                    font-size: 18px;
                    line-height: 22px;
                }

                .cube__text {
                    width: 34vw;
                    margin-top: 5px;
                    margin-bottom: 32px;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
    #services {
        .services__cards {
            grid-template-columns: 100%;
            grid-template-rows: 249px;
            justify-content: space-between;
            align-items: center;

            .plan {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
                img {
                    margin-bottom: 26px;
                }
            }

            .lamp {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
                .services__inform {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                img {
                    margin-bottom: 26px;
                }
            }

            .search {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 3;
                grid-row-end: 3;
                img {
                    margin-bottom: 23px;
                }
            }

            .rocket {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 4;
                grid-row-end: 4;
                img {
                    margin-bottom: 26px;
                }
            }
        }
    }
}