#cube {
    margin-top: 93px;
    background: url("../../assets/img/bg-line2.png");
    background-repeat: no-repeat;
    background-position: left calc(42% + 25px) bottom 0px;
    background-size: 606px 202px;

    .cube__inner {
        display: flex;
        justify-content: space-between;
        padding: 11px 0px 138px 0px;
        background: url("../../assets/img/bg-line.png");
        background-repeat: no-repeat;
        background-size: 610px;
        background-position: left 42% top 0px;

        .cube__inform {
            margin-top: 28px;
            padding: 82px 0px 0px 30px;
            background: url("../../assets/img/bg-polygons.png");
            background-repeat: no-repeat;

            .cube__title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 54px;
                text-transform: uppercase;
                color: #282C37;
            }

            .cube__subtitle {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 30px;
                text-transform: uppercase;
                color: #282C37;
            }

            .cube__text {
                width: 34vw;
                margin-top: 23px;
                margin-bottom: 32px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #282C37;
            }
        }
    }
}

.articles {
    .row{
        margin-left: 0px;
    }
    .articles__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .articles__item {
            margin-top: 34px;
            margin-bottom: 41px;

            .articles__inform {
                display: flex;
                align-items: center;
                margin: 0 auto;

                .article-logo {
                    width: 35px;
                    height: 38px;
                }
            }

            .article-text {
                margin: 0px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #282C37;
                transition: 0.2s;
                text-decoration: none;

                &:hover {
                    color: #5391DC;
                    text-decoration: underline;
                }
            }
        }
    }
}

#services {
    margin-bottom: 99px;
    .services__inner {
        background: url("../../assets/img/bg-line3.png");
        background-repeat: no-repeat;
        background-size: 732px auto;
        background-position: left 96px top 0px;
        padding: 96px 0px 0px 0px;

        .services__title {
            background: url("../../assets/img/Polygon\ 2.png");
            background-repeat: no-repeat;
            padding: 37px 0px 37px 56px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 30px;
            line-height: 37px;
            color: #282C37;
        }
    }

    .services__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 164px 328px;
        justify-content: space-between;
        align-items: center;
        grid-gap: 15px;
        margin-top: 46px;

        .plan {
            height: 100%;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            margin: 0;
            img {
                width: 75px;
                height: auto;
                margin-bottom: 32px;
            }
        }

        .lamp {
            height: 100%;
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 1;

            .services__inform {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .search {
            height: 100%;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;

            img {
                margin-bottom: 30px;
            }
        }

        .rocket {
            height: 100%;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            background-color: bisque;

            img {
                margin-bottom: 32px;
            }
        }

        .services__item {
            display: flex;
            align-items: center;
            background-color: #6CA7EF;
            text-align: center;
            border-radius: 20px;
            transition: 0.2s;

            .services__inform {
                margin: 0 auto;

                p {
                    margin: 0px;
                    max-width: 495px;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }

            &:hover {
                background: #5391DC;
            }
        }
    }
}

