.modal-page {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    padding-top: 115px;
    padding-bottom: 115px;
}

.modal-page__inner {
    align-items: center;
    background-color: white;
    height: 812px;
}

.modal-page__item {
    display: flex;
    align-items: center;
    height: 758px;
}

.modal-page__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 70px 0px 70px;
    div{
        margin-bottom: 6px;
    }
}

.modal-page__close {
    position: relative;
    margin: 18px 0px 0px 22px;
}

.modal-page__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #282C37;
    margin-bottom: 34px;
}

.name,
.big-text,
.email {
    width: 312px;
    height: 50px;
    border: 1px solid #282C37;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 14px 21px;
    font-family: 'Lato italic';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #9FA7B0;
}

.big-text {
    height: 191px;
}

.name:focus,
.big-text:focus,
.email:focus {
    border: 0px;
    outline: 1px solid #0278ED;
}
.error {
    border: 0px;
    outline: 1px solid #CF4747;
}


.form__button-submit {
    width: 312px;
}
.form__button-submit:disabled{
    border: 1px solid #9FA7B0;
    background: #9FA7B0;
    width: 312px;
    color: #FFFFFF;
}

.warning-name-error,
.warning-email-error,
.warning-big-text-error {
    font-family: 'Lato italic';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CF4747;
    margin-left: 11px;
    margin-bottom: 0px;
}