-
    var services= [
        {
            class: "plan",
            link: "./services.html",
            title: "Разрабатываем маркетинг-план: дорожная карта достижения целей",
            icon: "../../assets/img/icons/plan.svg"
        },
        {
            class: "lamp",
            link: "./services.html",
            title: "Повышаем эффективность продвижения: аудит существующей модели",
            icon:"../../assets/img/icons/lamp.svg"
        },
        {
            class: "search",
            link: "./services.html",
            title: "Находим скрытую прибыль: анализ модели ценообразования",
            icon:"../../assets/img/icons/search.svg"
        },
        {
            class: "rocket",
            link: "./services.html",
            title: "Запускаем новый проект: start-up маркетинг",
            icon:"../../assets/img/icons/startup.svg"
        }     
    ]
    var articles= [
        {
            link: "#",
            title: "Как найти точки роста и определить цели?"
        },
        {
            link: "#",
            title: "Как увеличить прибыль, управляя ценами?"
        },
        {
            link: "#",
            title: "Как избежать проблем на старте нового бизнеса?"
        },
        {
            link: "#",
            title: 'Как не попасть в "черную дыру" затрат на продвижение?'
        }
    ]