extends ../index.pug

block content
    section#cube
        .container
            .d-flex.justify-content-between
                .cube__inform
                    h2.cube__title Создаем решения
                    h3.cube__subtitle Для роста бизнеса
                    p.cube__text На основе анализа данных с алгоритмами реализации
                    button.prime__button Обсудить проблему
                img.cube__img(src="../assets/img/cube.png", alt="cube")