@import './components/header.scss';
@import './components/index.scss';
@import './components/common.scss';
@import './components/footer.scss';
@import './components//modalPage.scss';
@import './components/fonts/_lato.scss';
